@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:ital,wght@0,200;0,300;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: black;
    stroke-opacity: initial;   
    float: right; 
}

.body{
    background-image: url(../Images/pizza.jpg);
    background-size: cover;
}

.holder{
    
    background-position: 400px;
    color: rgb(50,16,14);

}