
     @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:ital,wght@0,200;0,300;1,600&display=swap');

     body{
         font-family:'Anton';
         background-image: url(../Images/pi.jpg);
         background-size:2000px 2000px;
         letter-spacing:2px;
     }

     body>main>section>h2
     {
         border: 1px solid #000;
         margin: 20px;
         color: darkgoldenrod;
         position: relative;
         width:100%;
         background:rgba(255,255,255,0.9);
         
     }

     .header::before{
         content:"";
         width:50px;
         height:90px;
         display:block;
         background: greenyellow;       
     }
         
     .Size{
         text-align: center;
         color:aliceblue;
                
     }
     h4,h3{
         font-family: 'Baloo Tammudu';
         color:aliceblue;
     }
